DB_NAME=mailing_service_db
DB_USER=postgres
DB_PASSWORD=your_password
DB_HOST=localhost
DB_PORT=5432
EMAIL_HOST=smtp.yourmailserver.com
EMAIL_PORT=587
EMAIL_HOST_USER=your_email@example.com
EMAIL_HOST_PASSWORD=your_email_password_or_app_password
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=your_email@example.com